<div class="container">
  <h5 class="text-center mt-3">Cities</h5>
  <div class="d-flex my-2">
    <input
      type="text"
      class="form-control"
      id="searchQuery"
      (input)="onSearchQueryInput($event)"
      #searchQueryEle
      placeholder="Search By Name"
    />
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let city of cities">
      <h2 class="card-title">{{ city?.name }}</h2>
      <img
        class="card-image"
        [src]="city?.photo"
        [alt]="city?.name"
        style="height: 200px"
        (error)="handleMissingImage($event)"
      />
      <button
        type="button"
        class="btn btn-warning mt-2"
        (click)="redirectTo(city.id)"
        *ngIf="this.roles.includes('ROLE_ALLOW_EDIT')"
      >
        Edit
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <mat-paginator
      [pageSizeOptions]="[12, 24, 96]"
      [pageSize]="12"
      [length]="totalElements"
      (page)="nextPage($event)"
    >
    </mat-paginator>
  </div>
</div>
