<div class="wrapper bg-white">
  <div class="h2 text-center">KB</div>
  <div class="h4 text-muted text-center pt-2">Enter your login details</div>
  <form
    class="pt-3"
    *ngIf="!isLoggedIn"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group py-2">
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input
          type="text"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          placeholder="Enter username or email"
        />
      </div>
      <br />
      <div
        class="alert alert-danger mt-1"
        role="alert"
        *ngIf="username.errors && f.submitted"
      >
        Username is required!
      </div>
    </div>
    <div class="form-group py-1 pb-2">
      <div class="input-field">
        <span class="fas fa-lock p-2"></span>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          placeholder="Enter your password"
        />
        <button class="btn bg-white text-muted">
          <span class="far fa-eye-slash"></span>
        </button>
      </div>
      <br />
      <div
        class="alert alert-danger mt-1"
        role="alert"
        *ngIf="password.errors && f.submitted"
      >
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <button class="btn btn-block text-center my-3 w-100 mb-2">Log in</button>
  </form>
</div>
